@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme inline {
  --font-pcp: var(--font-pcp)
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@utility animate-bg-gradient {
  background: linear-gradient(-45deg, #ffd6e8, #fffbd3, #cce5ff, #e5ffda);
  background-size: 400% 400%;
  animation: main-bg-gradient 20s ease infinite;
}

@keyframes main-bg-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
