@import "tailwindcss";

@theme {
  /* font */
  --font-pcp: var(--font-pcp);

  /* colors */
  --color-black: #333333;
  --color-pink-50: #FFF1F7;
  --color-pink-100: #FFD6E8;
  --color-pink-500: #FF2D87;
  --color-orange-50: #FFFDE9;
  --color-orange-100: #FFF7EB;
  --color-orange-200: #FFFBD3;
  --color-orange-300: #FFC87C;
  --color-orange-500: #FF9500;
  --color-blue-50: #EFF7FF;
  --color-blue-100: #CCE5FF;
  --color-blue-500: #008CFF;
  --color-green-50: #F9FFF6;
  --color-green-100: #E5FFDA;
  --color-green-500: #3DCE00;
}

body {
  color: var(--color-black);
}

@utility animate-bg-gradient {
  background: linear-gradient(-45deg, #ffd6e8, #fffbd3, #cce5ff, #e5ffda);
  background-size: 400% 400%;
  animation: main-bg-gradient 20s ease infinite;
}

@keyframes main-bg-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
