@import "tailwindcss";

@theme {
  /* font family */
  --font-pcp: var(--font-pcp);
  --font-paperlogy: var(--font-paperlogy);

  /* colors */
  --color-black: #333333;
  --color-pink-50: #fff1f7;
  --color-pink-100: #ffd6e8;
  --color-pink-500: #ff2d87;
  --color-orange-50: #fffde9;
  --color-orange-100: #fff7eb;
  --color-orange-200: #fffbd3;
  --color-orange-300: #ffc87c;
  --color-orange-500: #ff9500;
  --color-blue-50: #eff7ff;
  --color-blue-100: #cce5ff;
  --color-blue-500: #008cff;
  --color-green-50: #f9fff6;
  --color-green-100: #e5ffda;
  --color-green-500: #3dce00;

  /* font size */
  --text-xxs: 0.6875rem;
  --text-xxs--line-height: 0.8125rem;

  --text-xs: 0.75rem;
  --text-xs--line-height: 0.875rem;

  --text-sm: 0.875rem;
  --text-sm--line-height: 1rem;

  --text-base: 1rem;
  --text-base--line-height: 1.125rem;

  --text-lg: 1.125rem;
  --text-lg--line-height: 1.25rem;

  --text-xl: 1.25rem;
  --text-xl--line-height: 1.5rem;

  --text-2xl: 1.5rem;
  --text-2xl--line-height: 1.75rem;

  --text-3xl: 1.75rem;
  --text-3xl--line-height: 2rem;

  --text-4xl: 2rem;
  --text-4xl--line-height: 2.25rem;

  --text-5xl: 2.25rem;
  --text-5xl--line-height: 2.625rem;

  --text-6xl: 2.5rem;
  --text-6xl--line-height: 3rem;

  --text-7xl: 2.75rem;
  --text-7xl--line-height: 3.25rem;

  --text-8xl: 3rem;
  --text-8xl--line-height: 3.5rem;

  --text-9xl: 4rem;
  --text-9xl--line-height: 4.75rem;

  /* breakpoint */
  --breakpoint-sm: 45rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 90rem;
}

body {
  color: var(--color-black);

  word-break: break-all;
}

@utility animate-bg-gradient {
  background: linear-gradient(-45deg, #ffd6e8, #fffbd3, #cce5ff, #e5ffda);
  background-size: 400% 400%;
  animation: main-bg-gradient 20s ease infinite;
}

@keyframes main-bg-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@utility animate-mouse-scroll {
  animation: mouse-wheel 2s infinite;
}

@keyframes mouse-wheel {
  0% {
    top: 0.75rem;
    opacity: 1;
  }
  100% {
    top: 1.75rem;
    opacity: 0;
  }
}
